<a href="https://colab.research.google.com/github/sambhajizambre/python-programmes/blob/main/program%20practice24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Q.2) Remove all duplicates from a given string in Python
def remove_duplicate(s):
  dup=""
  for i in s:
    if (i in dup):
          pass
    else:
         dup=dup+i
  print("after remove duplicate:",dup)
s="hggjgjegbnkclggggdfbvcg"
print(remove_duplicate(s))

after remove duplicate: hgjebnkcldfv
None

In [14]:
def ispalindrome(s):
  return s==s [::-1]
s="radar"
ans=ispalindrome(s)
if ans:
  print("yes")
else:
  print("no")

yes

In [21]:
def bubblesort(array):
  for i in range (len(array)):
    for j in range (0,len(array)-i-1):
      if array[j]>array[j+1]:
       temp=array[j]
       array[j]=array[j+1]
       array[j+1]=temp
data=[2,5,2,46,4,98,8]
bubblesort(data)
print(data)

[2, 2, 4, 5, 8, 46, 98]

In [26]:
n=11
for i in range (n,0,-1):
  print((n-i) * " " +i *"* ")

* * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [33]:
def fib(n):
  a=0
  b=1
  if n==1:
    print(a)
  else:
    print(a)
    print(b)
  for i in range (2,n):
    c=a+b
    a=b
    b=c
    print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [35]:
list=[2,5,4,5,8,9,6,8]
list.sort()
print("secong largest number is:",list[-2])

secong largest number is: 8

In [39]:
lower = int(input("Enter the lower value:"))
upper = int(input("Enter the upper value:"))
for number in range(lower,upper+1):
    if number>1:
        for i in range(2,number):
            if (number%i)==0:
                break
        else:
            print(number)

Enter the lower value:1
Enter the upper value:10
2
3
5
7

In [40]:
lower=int(input("enter the lower value"))
upper=int(input("enter the upper value"))
for number in range (lower,upper+1):
  if number>1:
    for i in range (2,number):
      if (number%i)==0:
        break
    else:
      print(number)

enter the lower value10
enter the upper value20
11
13
17
19

In [7]:
#Q.1) Python program to check if a string is palindrome or not
def ispalindrome(s):
  return s==s [::-1]
s="radar"
ans=ispalindrome(s)
if ans:
      print("yes")
else:
      print("no")

yes

In [12]:
#Q.2) Remove all duplicates from a given string in Python
def remove_duplicate(s):
  dup=""
  for i in s:
    if (i in dup):
          pass
    else:
          dup=dup+i
  print("after removing duplicates:",dup)
s="sahsdffgdhsjds"
print(s)
print(remove_duplicate(s))

sahsdffgdhsjds
after removing duplicates: sahdfgj
None

In [16]:
#Q.3) Python Program for Bubble Sort?
def bubblesort(array):
  for i in range (len(array)):
    for j in range (0,len(array)-i-1):
      if array[j] > array[j+1]:
        temp=array[j]
        array[j]=array[j+1]
        array[j+1]=temp
data=[2,5,6,1]
bubblesort(data)
print(data)

[1, 2, 5, 6]

In [28]:
#Q.4) Python | Print an Inverted Star Pattern
n=11
for i in range (n, 0,-1):
    print((n-i) * " " +i * '* ')                                                                                                                                )

SyntaxError: ignored

In [29]:
#n is the number of rows in which
# star is going to be printed.
n=11
for i in range (n, 0,-1):
    print((n-i) * " " +i * '* ')

* * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [30]:
#Q.7) Python Program for n-th Fibonacci number
def fib(n):
  a=0
  b=1
  if n==1:
    print(a)
  else:
    print(a)
    print(b)
  for i in range (2,n):
    c=a+b
    a=b
    b=c
    print(c)
fib(5)

0
1
1
2
3

In [33]:
#Q.10) Python program to find second largest number in a list
list=[2,5,6,8]
list.sort()
print("second largest number:",list[-2])

second largest number: 6

In [41]:
#Q.6) Python program to print all Prime numbers in an Interval
lower=int(input("enter lower value"))
upper=int(input("enter upper value"))
for number in range (lower,upper+1):
  if number>1:
    for i in range (2,number):

      if (number%i)==0:
        break
    else:
      print(number)

enter lower value1
enter upper value10
2
3
5
7

In [42]:
#Q.8) Python Program for cube sum of first n natural numbers
n=7
s=0
for i in range (1,n+1):
  s=s+pow(i,3)
print(s)

784

In [56]:
#Q.9) Python Program to check if given array is Monotonic
def ismonotonic(A):
    return (all(A[i]<=A[i+1] for i in range (len(A)-1)) or all (A[i] >= A[i+1] for i in range (len(A)-1)))
A= 8,8,5,6
print(ismonotonic(A))

False

In [52]:
def ismonotonic(A):
  return (all(A[i]<=A[i+1] for i in range (len(A)-1))or all(A[i]>=A[i+1]for i in range (len(A)-1)))
A=5,6,7,9,8
print(ismonotonic(A))

False

In [55]:
def ismonotonic(A):
  return (all(A[i]<=A[i+1] for i in range (len(A)-1)) or all(A[i]>=A[i+1] for i in range (len(A)-1)))
A=8,9,7,5,4,6,7
print(ismonotonic(A))

False