<a href="https://colab.research.google.com/github/sambhajizambre/python-programmes/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**good morning good evening using time and datetime function**

***star pattern program***

In [1]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
# https://docs.python.org/3/library/time.html#time.strftime

05:42:38
05
42
38

In [6]:
import time
# timestamp = time.strftime('%H:%M:%S')
# print(timestamp)
timestamp = int(time.strftime('%H'))
# print(time.strftime('%H'))
if timestamp>=12:
  print("good afternoon sir")
elif timestamp<=12 and timestamp>=1:
  print("good morning sir")
else:
  print("good evening sir")

# print(int(timestamp))
# timestamp = time.strftime('%M')
# print(timestamp)
# timestamp = time.strftime('%S')
# print(timestamp)

good morning sir

In [13]:
import datetime
currentTime = datetime.datetime.now()
# currentTime.hour

if currentTime.hour < 12:
     print('Good morning.')
elif 12 <= currentTime.hour < 18:
     print('Good afternoon.')
else:
     print('Good evening.')

Good morning.

In [1]:
name = 'Abhishek'
for i in name:
    print(i, end=", ")

A, b, h, i, s, h, e, k,

In [2]:
name="abhishek"
for i in name:
  print(i)

a
b
h
i
s
h
e
k

In [10]:
x=int(input())
for i in range(x):
  print(i)

10
0
1
2
3
4
5
6
7
8
9

In [31]:
n=10
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print("*",end=" ")
  print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [35]:
n=10
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(n+1-i,end=" ")
  print()

10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [41]:
n=10
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(n-i,end=" ")
print()

9 9 9 9 9 9 9 9 9 9 8 8 8 8 8 8 8 8 8 7 7 7 7 7 7 7 7 6 6 6 6 6 6 6 5 5 5 5 5 5 4 4 4 4 4 3 3 3 3 2 2 2 1 1 0

In [43]:
n=10
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(n-i,end=" ")
 print()

IndentationError: ignored

In [46]:
n=10
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(n-i,end=" ")
  print()

9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7
6 6 6 6 6 6 6
5 5 5 5 5 5
4 4 4 4 4
3 3 3 3
2 2 2
1 1
0

In [47]:
n=10
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(n-i,end=" ")

9 9 9 9 9 9 9 9 9 9 8 8 8 8 8 8 8 8 8 7 7 7 7 7 7 7 7 6 6 6 6 6 6 6 5 5 5 5 5 5 4 4 4 4 4 3 3 3 3 2 2 2 1 1 0